<section id="artigos">
<div class="container">
  <h3>Artigos</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h5>
			<strong><a href="https://github.com/mateusblopes/artigos/blob/master/ImportanciadoProcessodeTestedeSoftwareemTI.pdf" target="_blank" title="Clique e leia na integra">Importancia do Processo de Teste de Software em TI</a></strong>
			<p>Este artigo descreve a importância do processo de teste de software para empresas de tecnologia da informação, 
			com objetivo de mostrar as técnicas, tipos, fases, ferramentas, modelos e normas que envolvem a documentação e execução dos testes
			de software obtendo assim um aumento na qualidade do software produzido.</p>
		</h5>
		<h5>
			<strong><a href="https://github.com/mateusblopes/artigos/blob/master/AImportanciadoProcessodeGarantiadaQualidadedeSoftware.pdf" target="_blank" title="Clique e leia na integra">A Importancia do Processo de Garantia da Qualidade de Software</a></strong>
			<p>Este artigo descreve a importância do processo de garantia da qualidade de software para as empresas de tecnologia da informação,
			com objetivo de mostrar e explicar os tipos de necessidades, as duas dimensões da qualidade de software e os três principais pilares
			ou subprocessos complementares ao processo de gerenciamento da qualidade e expondo a importância de cada um para o mesmo.</p>
		</h5>
    </div>
  </div>
</div>
</section>
