<section id="publications">
<div class="container">
  <h3>Publications</h3>
  <div class="panel panel-default">
    <div class="panel-body">
	
	
	
	
		<h5>
			<i class="fa fa-medium"></i>-<strong><a href="http://dx.doi.org/10.5935/978-85-7042-018-3.2018B001" target="_blank" title="Clique e leia na integra">GUERRA, R. W. C.Classic Methods for Identification of First Order Plus Dead Time (FOPDT)Systems. Medium, 2020. Disponível em: <https://medium.com/>.</a></strong>
			<p>Blog publication: Classic Methods for Identification of First Order Plus Dead Time (FOPDT)Systems</p>
		</h5>
		<h5>
			<strong><a href="http://dx.doi.org/10.5935/978-85-7042-018-3.2018B001" target="_blank" title="Clique e leia na integra">MEDEIROS, J. A. ; GUERRA FILHO, R. W. C. ; CAVALCANTI, D. H. S. ; VILLANUEVA, J. M. M. ; CUNHA, T. R. A. L. A. ; MACEDO, E. C. T. ; BRAZ, H. D. M. ; RODRIGUEZ, Y. P. M. . Sistema Fuzzy para previsão de séries temporais de demanda de energia elétrica. Gestão da Produção em Foco. 1ed.Belo Horizonte: Editora Poisson, 2018, v. 22, p. 1-255.</a></strong>
			<p>Book chapter: Fuzzy system for forecasting electricity demand time series. (translated from portuguese)</p>
		</h5>
		<h5>
			<strong><a href="https://copimeraeditorial.com/revistas_cientificas/tecnoamericatecnoamerica-volumen-i-2015/tecnoamerica-vol-i/" target="_blank" title="Clique e leia na integra">CAVALCANTI, D. H. S. ; MEDEIROS, J. A. ; GUERRA FILHO, R. W. C. ; RODRIGUEZ, Y. P. M. ; VILLANUEVA, J. M. M. ; MACEDO, E. C. T. ; BRAZ, H. D. M. . Previsao de demanda a medio prazo utilizando lógica fuzzy. Previsao de demanda a medio prazo utilizando lógica fuzzy. 1ed.Teguciglapa: COPIMERA EDITORIAL, 2015, v. 1, p. 144-152.</a></strong>
			<p>Book chapter: Medium-term demand forecast using fuzzy logic. Medium-term demand forecasting using fuzzy logic. (translated from portuguese)</p>
		</h5>
		<h5>
			<strong><a href="http://dx.doi.org/10.20906/cps/cba2018-1503" target="_blank" title="Clique e leia na integra">CAVALCANTI, D. H. S. ; PEGADO, R. A ; BRAZ, H. D. M. ; RODRIGUEZ, Y. P. M. ; GUERRA FILHO, R. W. C. ; SILVA, C. S. . RECONFIGURAÇÃO DE REDES DE DISTRIBUIÇÃO PRIMÁRIAS USANDO UM AG CLÁSSICO COM TRÊS ESTRATÉGIAS DE CODIFICAÇÃO: PARAMETRIZAÇÃO DO AG E COMPARATIVO DE DESEMPENHO. In: XXII Congresso Brasileiro de Automática, 2018, João Pessoa, 2018.</a></strong>
			<p>Conference publication: RECONFIGURATION OF PRIMARY DISTRIBUTION NETWORKS USING A CLASSIC AG WITH THREE CODING STRATEGIES: AG PARAMETERIZATION AND PERFORMANCE COMPARATIVE (translated from portuguese)</p>
		</h5>
		<h5>
			<strong><a href="https://copimeraeditorial.files.wordpress.com/2017/08/paper_161.pdf" target="_blank" title="Clique e leia na integra">MEDEIROS, J. A. ; CUNHA, T. R. A. L. A. ; VILLANUEVA, J. M. M. ; GUERRA FILHO, R. W. C. ; CAVALCANTI, D. H. S. . SISTEMA FUZZY PARA PREVISÃO DE SÉRIES TEMPORAIS DE DEMANDA DE ENERGIA ELÉTRICA. In: XXXVII ENCONTRO NACIONAL DE ENGENHARIA DE PRODUCAO, 2017, Joinville. ENEGEP 2017, 2017.</a></strong>
			<p>Conference publication: FUZZY SYSTEM FOR FORECASTING TIME SERIES OF ELECTRICITY DEMAND (translated from portuguese)</p>
		</h5>
		<h5>
			<strong>CAVALCANTI, D. H. S. ; MEDEIROS, J. A. ; GUERRA FILHO, R. W. C. ; RODRIGUEZ, Y. P. M. ; VILLANUEVA, J. M. M. ; MACEDO, E. C. T. ; BRAZ, H. D. M. . PREVISÃO DE DEMANDA À MEDIO PRAZO UTILIZANDO LOGICA FUZZY. In: XXV CONGRESSO PANAMERICANO DE INGENIERÍA MECÁNICA, ELÉCTRICA, INDUSTRIAL Y RAMAS AFINES COMPIMERA 2015, 2015, Tegucigalpa. XXV CONGRESO PANAMERICANO DE INGENIERIA MECÁNICA, ELÉCTRICA, INDUSTRIAL Y RAMAS AFINES, 2015.</strong>
			<p>Conference publication: MEDIUM-TERM DEMAND FORECAST USING FUZZY LOGICS. (translated from portuguese)</p>
		</h5>
    </div>
  </div>
</div>
</section>
